@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="d-flex justify-content-between align-items-center w-100 position-relative">
                <div class="school-logo">
                    <img src="/images/logo.png" alt="شعار مدرسة الفضل" class="logo-img" />
                </div>
                <div class="school-title">
                    <h4 class="mb-0 text-primary fw-bold">نظام حجز قاعات التعلم في مدرسة الفضل بن العباس</h4>
                </div>
            </div>
        </div>

        <article class="content px-4">يخ
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    حدث خطأ غير متوقع.
    <a href="." class="reload">إعادة تحميل</a>
    <span class="dismiss">🗙</span>
</div>
